<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post page</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1 class="title">I am post Page</h1>
    <p class="description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab
      obcaecati quis, incidunt tempora, vitae adipisci error quisquam architecto
      voluptatum labore quos alias assumenda dolore qui magnam at! Repudiandae,
      autem!
    </p>
  </body>
</html>
